<section id="intro">
  <br />
  <div class="container-fluid container-bg clearfix text-center">
    <h1> Bienvenido a <b> Upaudit </b> </h1> <br />
    <img src="../../assets/index/index.jpg" class="img-fluid" alt="Responsive image" />
    <div class="row justify-content-center align-self-center">
      <div class="col-md-12 intro-info order-md-first order-last">
        <h2>Auditorias para <span> tu negocio</span></h2>
        <div routerLinkActive='active'>
          <a href="#about" class="btn-get-started scrollto" routerLink='/login'>Logeate</a>
        </div>
      </div>
    </div>
  </div>
</section>
