<section id="intro" class="clearfix">
    <div class="container-fluid">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h1>Bienvenido a Audit </h1>
          <h2>Auditorias rápidas<br> para <span> tu negocio</span></h2>

          <div routerLinkActive= 'active'>
            <a href="#about" class="btn-get-started scrollto" routerLink='/login'>Logeate</a>
          </div>
        </div>
<!--
        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="assets/index/intro-bg.jpg" alt="" class="img-fluid">
        </div>
-->
      </div>
</div>
