<h1>Asignación de empleado principal a empresa</h1>

  <div class="form-group">
    <label for="empleado">
      Empleado
    </label>
    <form (ngSubmit) = "enviar()">
      <select id="empleado" name="empleado" [(ngModel)]="empleado" class="form-control"> <!-- Antes en ngModel seleccionUsuario-->
        <option *ngFor="let empleado of empleados" value="{{empleado.id}}">{{empleado.name_user}}</option>
      </select>
      <label for="empresa">
        Empresa
      </label>
      <select id="empresa" name="empresa" [(ngModel)]="empresa" class="form-control">
        <option *ngFor="let empresa of empresas" value="{{empresa.id}}">{{empresa.name_company}}</option>
      </select>
      <label for="auditType">
        Tipo de Auditoría
      </label>
      <select id="auditType" name="auditType" [(ngModel)]="auditType" class="form-control">
        <option *ngFor="let auditType of tipoAuditorias" value="{{auditType.id}}">{{auditType.name_audit_type}}</option>
      </select>
      <label for="periodo">
        Comienzo periodo auditado
      </label>
      <input type="date" id="start" name="trip-start" /> <br />
      <label for="periodo">
        Fin periodo auditado
      </label>
      <input type="date" id="end" name="trip-end" />
      <input type="submit" class="btnSubmit" value="Enviar" /> <br />
    </form>
  </div>

<div class="card border-primary mb-3">
  <div class="card-header">Asignación de empleados a empresas</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Empleados de la empresa {{usuario.companyName}}</h5>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre y Apellidos</th>
          <th>USERNAME</th>
          <th>EMAIL</th>
          <th>PHONE</th>
          <th>COMPANY NAME</th>
          <th>Dato de Alta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados">
          <td>{{empleado.id}}</td>
          <td>{{empleado.name_user}}</td>
          <td>{{empleado.username}}</td>
          <td>{{empleado.email_user}}</td>
          <td>{{empleado.phone_user}}</td>
          <td>{{empleado.name_company}}</td>
          <td><form (ngSubmit) = "aceptarPersona(empleado)"><div *ngIf="!isEnabled(empleado)" class="form-group"><input type="submit" class="btn btn-success" value="Aceptar" /></div><div *ngIf="isEnabled(empleado)" class="form-group">✓</div></form></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
