h1 {
  text-align: center;
  margin-top: 1em;
}

h2 {
  text-align: center;
}

.container {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em 2em 2em 2em;
  background-color: rgba(220, 220, 220, 0.2);
  opacity: 1;
}

.btnSubmit {
  width: 20%;
}

.formLabel {
  /* Por algun motivo no funciona de momento*/
  text-align: center;
}

.table {
  margin: auto;
  width: 50% !important;
}

/* Question mark info */
.fa-question-circle {
  opacity: 0.6;
  height: auto;
  width: 25px;
}

.fa-question-circle:hover {
  cursor: pointer;
}
