<h1>Panel de Gestión</h1>
<div class="container">
<h2>Creación de Auditoría</h2>
  <div class="form-group">
    <form (ngSubmit) = "enviar()">
      <div class="form-row col-12">
        <label class="formLabel" for="empleado">
          <b>Empleado</b>
        </label>
        <select id="empleado" name="empleado" [(ngModel)]="seleccionUsuario" class="form-control"> <!-- Antes en ngModel seleccionUsuario-->
          <option *ngFor="let empleado of empleados" value="{{empleado.id}}">{{empleado.name_user}}</option>
        </select>
      </div> <br />
      <div class="form-row col-12">
        <label class="formLabel" for="empresa">
          <b>Empresa</b>
        </label>
        <select id="empresa" name="empresa" [(ngModel)]="seleccionEmpresa" class="form-control">
          <option *ngFor="let empresa of empresas" value="{{empresa.id_company}}">{{empresa.name_company}}</option>
        </select>
      </div> <br />
      <div class="form-row col-12">
        <label class="formLabel" for="auditType">
          <b>Tipo de Auditoría</b>
        </label>
        <select id="auditType" name="auditType" [(ngModel)]="seleccionTipoAuditoria" class="form-control">
          <option *ngFor="let auditType of tipoAuditorias" value="{{auditType.id_audit_type}}">{{auditType.name_audit_type}}</option>
        </select>
      </div>  <br />
      <div class="form-row col-12">
        <label class="formLabel" for="periodo">
          <b>Comienzo periodo auditado </b>
        </label>
        <input type="date" id="start" [(ngModel)]="seleccionFechaInicio" name="audit-start" />
      </div> <br />
      <div class="form-row col-12">
        <label class="formLabel" for="periodo">
          <b>Fin periodo auditado </b>
        </label>
        <input type="date" id="end" [(ngModel)]="seleccionFechaFin" name="audit-end" />
      </div>
      <input type="submit" class="btnSubmit btn-primary float-right" value="Crear" /> <br />
    </form>
  </div>
</div>
<hr class="thin">
<h2> Panel de empleados </h2>
<div class="card border-primary mb-3">
  <div class="card-header">Asignación de empleados a empresas</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Empleados de la empresa {{usuario.companyName}}</h5>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre y Apellidos</th>
          <th>USERNAME</th>
          <th>EMAIL</th>
          <th>PHONE</th>
          <th>COMPANY NAME</th>
          <th>Dado de Alta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados">
          <td>{{empleado.id}}</td>
          <td>{{empleado.name_user}}</td>
          <td>{{empleado.username}}</td>
          <td>{{empleado.email_user}}</td>
          <td>{{empleado.phone_user}}</td>
          <td>{{empleado.name_company}}</td>
          <td><form (ngSubmit) = "aceptarPersona(empleado)"><div *ngIf="!isEnabled(empleado)" class="form-group"><input type="submit" class="btn btn-success" value="Aceptar" /></div><div *ngIf="isEnabled(empleado)" class="form-group">✓</div></form></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
