<div class="row">
					<div class="col-xl-6 col-6">
						<!-- small card -->
						<div class="small-box bg-danger">
				            	<div class="inner">
						            <p>Auditorias</p>
				            	</div>
				            	<div class="icon">
				            	</div>
				            	<a href="#" class="small-box-footer">Auditoria<i class="fab fa-500px"></i></a>
				        	</div>
					</div>
					<!-- ./col -->
					<div class="col-xl-6 col-6">
						<!-- small card -->
						<div class="small-box bg-warning">
				            	<div class="inner">
						            <p class="text-truncate">Citas</p>
				            	</div>
				            	<div class="icon">
				           	 	</div>
				            	<a href="#" class="small-box-footer">Más info</a>
				        	</div>
					</div>
					<div class="col-xl-6 col-6">
						<!-- small card -->
						<div class="small-box bg-success">
				            	<div class="inner">
						            <p class="text-truncate">Gestion de personal</p>
				            	</div>
				            	<div class="icon">
				           	 	</div>
				            	<a routerLink='/gestionPersonal' class="small-box-footer">Más info></a>
				        	</div>
					</div>
					<div class="col-xl-6 col-6">
						<!-- small card -->
						<div class="small-box bg-info">
				            	<div class="inner">
						            <p class="text-truncate">Gestion de Preguntas</p>
				            	</div>
				            	<div class="icon">
				           	 	</div>
				            	<a routerLink='/gestionPreguntas' class="small-box-footer">Más info</a>
				        	</div>
					</div>
</div>
