<h1>Perfil de Usuario</h1>
<p>Nombre: {{usuario.name_user}}</p>
<p>DNI: {{usuario.username}} </p>
<p>Email: {{usuario.email_user}}</p>
<p>Phone: {{usuario.phone_user}}</p>
<p>Company: {{usuario.name_company}}</p>
<h2>Seleccione el campo que desea modificar</h2>
<!-- FORM CAMBIO DE EMAIL-->
<p>Modificar correo electrónico/teléfono</p>
<form (ngSubmit) = "updateUsuario()">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Modificar Correo Electronico" [(ngModel)]="usuario.email_user" name="email_user" />
    </div>
    <br />
    <div>
        <input type="text" class="form-control" placeholder="Modificar Telefono" [(ngModel)]="usuario.phone_user" name="phone_user" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" class="btnSubmit" value="Actualizar Campos" />
    </div>
</form>

<p>Cambio de password:</p>

<form (ngSubmit) = "updatePassword()">
  <div>
      <input type="password" class="form-control" placeholder="Password Antigua" [(ngModel)]="oldPassword" name="oldPassword" />
  </div>
  <br />
  <div class="form-group">
      <input type="password" class="form-control" placeholder="Password Nueva" [(ngModel)]="newPassword" name="newPassword" />
  </div>
  <div class="form-group">
      <input type="submit" class="btnSubmit" value="Cambiar Password" />
  </div>
</form>

<p>Cambio de empresa:</p>

<form (ngSubmit) = "updateCompany()">
  <select id="empresa" name="empresa" [(ngModel)]="seleccionEmpresa" class="form-control">
    <option *ngFor="let empresa of empresas" value="{{empresa.id_company}}">{{empresa.name_company}}</option>
  </select> <br />
  <input type="submit" class="btnSubmit" value="Cambio de empresa" />
</form>
