<div class="abrirModal" *ngIf="modalMostrarCita.modal">
  <div class="modal" tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{cita.name_appointment}}</h5>
          <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="thin">
            <p><b>Fecha:</b> {{cita.date_appointment | date:'short'}}</p>
            <hr />
            <p><b>Descripción:</b> {{cita.description_appointment}}</p>
          </div>
          <hr class="thin" />
          <div>
            <p><b>Mensajes</b></p>
            <div class="messageCard">
              <hr class="style5">
              <div *ngFor="let message of messagesList">
                <p><b>{{message.timestamp_message | date:'short'}}</b></p>
                <p>{{message.text_message}}</p>
                <hr class="style5">
              </div>
            </div>
            <form *ngIf="cita.state_appointment===0" (ngSubmit)="createMessage()" #registerForm="ngForm">
              <div class="modal-body">
                <div class="form-group">
                  <textarea name="name" class="form-control" rows="8" [(ngModel)]="message.text_message" placeholder="New Message"></textarea>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-warning float-right rounded font-weight-bold">New Message</button>
              </div>
            </form>
          </div> <br />
          <hr class="thin" />
          <div>
            <p><b>Evidencias</b></p>
            <div class="col-xs-1" align="center">
              <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </div>
            <div *ngIf="cita.state_appointment===0">
              <p><b>Nueva evidencia</b></p>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="textoEvidencia" placeholder="Tipo Evidencia">
              </div>
              <div class="input-group">
                <div class="custom-file">
                  <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04">
                  <label class="custom-file-label" for="inputGroupFile04">Seleccionar foto</label>
                </div>
                <div class="input-group-append">
                  <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-outline-secondary" type="button">Subir</button>
                </div>
              </div>
            </div>
            <br />
            <div *ngIf="previewUrl">
              <img class="img-fluid" [src]="previewUrl" height="300" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
