<div class="calendarContainer">
  <full-calendar defaultView="dayGridMonth" timeZone='local' [plugins]="calendarPlugins" [themeSystem]="standard" [events]="calendarEvents" [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"></full-calendar>
</div>
<div class="row">

  <!-- First Half -->

  <div class="containerManage col">
    <h3>Gestiona las auditorias</h3> <br />
    <!-- Select Audit to work-->
    <select id="seleccionAudit" name="seleccionAudit" (change)="actualizarListaCitas()" [(ngModel)]="seleccionAudit" class="form-control">
      <!-- ngValue permite el binding de objetos-->
      <option *ngFor="let audit of auditList" [ngValue]="audit">{{audit.name_company}} - {{audit.name_audit_type}}. {{audit.date_start_audit | date}} - {{audit.date_end_audit | date}}</option>
    </select> <br />
    <div *ngIf="seleccionAudit">
      <h4>Cuestionarios</h4>
      <table *ngIf="questionnaireList.length > 0" class="table table-warning table-hover text-center">
        <tbody>
          <tr>
            <th scope="col">Asset Questionnaire</th>
          <tr class="appointmentRow" *ngFor="let asset of questionnaireList" (click)="abrirModalAsset(asset)">
            <td>{{asset.name_audit_asset}}</td>
          </tr>
        </tbody>
      </table>
      <hr class="thin">
      <h4>Citas</h4>
      <a class="nav-link float-right" (click)="abrirModalAddAppointment()"> Add appointment </a> <br />
      <table *ngIf="auditAppointments.length > 0" class="table table-warning table-hover text-center">
        <tbody>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">State</th>
            <th scope="col">Delete</th>
          <tr *ngFor="let appointment of auditAppointments | paginate: { itemsPerPage: 3, currentPage: pageAppointment , id:'first'}">
            <td class="appointmentRow" (click)="abrirModalCita(appointment)">{{appointment.name_appointment}}</td>
            <td>{{appointment.date_appointment | date}}</td>
            <td *ngIf="appointment.state_appointment===0" style="color: green"> Abierta </td>
            <td *ngIf="appointment.state_appointment===1" style="color: red"> Cerrada </td>
            <td class="hoverable" (click)="deleteAppointment(appointment)" *ngIf="appointment.state_appointment===0"><i class="fas fa-trash-alt"></i> </td>
            <td *ngIf="appointment.state_appointment===1"> - </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls *ngIf="auditAppointments.length > 0" (pageChange)="pageAppointment = $event" id="first"></pagination-controls>
    </div>
  </div>

  <!-- Second Half -->

  <div class="containerEmployees col">
    <div *ngIf="seleccionAudit">
      <h3>Empleados añadidos</h3>
      <a class="nav-link float-right" (click)="abrirModalAddEmployee()"> Add employee </a> <br />
      <div *ngIf="seleccionAudit">
        <table *ngIf="auditEmployees.length > 0" class="table table-warning table-hover text-center">
          <tbody>
            <tr>
              <th scope="col">DNI</th>
              <th scope="col">Appointment</th>
              <th scope="col">Questionnaire</th>
              <th scope="col">Report</th>
              <th scope="col">Eliminar</th>
            <tr *ngFor="let employee of auditEmployees | paginate: { itemsPerPage: 3, currentPage: pageEmployees , id:'second'}">
              <td>{{employee.username}}</td>
              <td *ngIf="employee.appointment_permit_audit_employees===0"><input class="hoverable" type="checkbox" (click)="activateAppointment(employee)"></td>
              <td *ngIf="employee.appointment_permit_audit_employees===1"><input type="checkbox" (click)="deActivateAppointment(employee)" checked></td>
              <td *ngIf="employee.questionnaire_permit_audit_employees===0"><input class="hoverable" type="checkbox" (click)="activateQuestionnaire(employee)"></td>
              <td *ngIf="employee.questionnaire_permit_audit_employees===1"><input type="checkbox" (click)="deActivateQuestionnaire(employee)" checked></td>
              <td *ngIf="employee.report_permit_audit_employees===0"><input class="hoverable" type="checkbox" (click)="activateReport(employee)"></td>
              <td *ngIf="employee.report_permit_audit_employees===1"><input type="checkbox" (click)="deActivateReport(employee)" checked></td>
              <td class="hoverable" (click)="deleteEmployeeFromAppointment(employee)"><i class="fas fa-trash-alt"></i></td>
            </tr>
          </tbody>
        </table>
        <pagination-controls *ngIf="auditEmployees.length > 0" (pageChange)="pageEmployees = $event" id="second"></pagination-controls>
      </div>
    </div>
  </div>

  <app-citaCreation *ngIf="auditCitaCreation" [audit]="auditCitaCreation"></app-citaCreation>
  <app-employeeAdd *ngIf="auditEmployeeAdd" [audit]="auditEmployeeAdd"></app-employeeAdd>
  <app-citaMostrar *ngIf="appointmentSelected" [cita]="appointmentSelected"></app-citaMostrar>
  <app-questionnaire *ngIf="assetSelection" [asset]="assetSelection" [audit]="seleccionAudit"></app-questionnaire>
