h1 {
  text-align: center;
  margin-top: 1em;
}

.nav-link {
  color: #007bff !important;
}

.nav-link:hover {
  cursor: pointer !important;
}

.appointmentRow {
  color: #007bff;
}

.appointmentRow:hover {
  cursor: pointer;
}

.hoverable:hover {
  cursor: pointer;
}

.calendarContainer {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em 2em 2em 2em;
  background-color: rgba(220, 220, 220, 0.2);
  border: 3px solid #ffc107;
  opacity: 1;
}

.containerManage {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 1em;
  margin-left: -0.4em;
  padding: 2em 2em 2em 2em;
  background-color: rgba(220, 220, 220, 0.2);
  opacity: 1;
}

.containerEmployees {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 2em;
  padding: 2em 2em 2em 2em;
  background-color: rgba(220, 220, 220, 0.2);
  opacity: 1;
}
