<div class="calendarContainer">
  <full-calendar defaultView="dayGridMonth" timeZone='local' [plugins]="calendarPlugins" [themeSystem]="standard" [events]="calendarEvents" [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"></full-calendar>
</div>
<div class="row">

  <!-- First Half -->

  <div class="containerManage col">
    <h3>Gestiona las auditorias</h3> <br />
    <!-- Select Audit to work-->
    <select id="seleccionAudit" name="seleccionAudit" (change)="actualizarListaCitas()" [(ngModel)]="seleccionAudit" class="form-control">
      <!-- ngValue permite el binding de objetos-->
      <option *ngFor="let audit of auditList" [ngValue]="audit">{{audit.name_company}} - {{audit.name_audit_type}}. {{audit.date_start_audit | date}} - {{audit.date_end_audit | date}}</option>
    </select> <br />
    <div *ngIf="seleccionAudit">
      <h4>Cuestionarios</h4>
      <p>Aqui iran los cuestionarios que quedan en lista</p>
      <hr class="thin">
      <h4>Citas</h4>
      <a class="nav-link float-right" (click)="abrirModalAddAppointment()"> Add appointment </a> <br />
      <table *ngIf="auditAppointments.length > 0" class="table table-warning table-hover table-responsive text-center">
        <tbody>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
          <tr class="appointmentRow" *ngFor="let appointment of auditAppointments" (click)="abrirModalCita(appointment)">
            <td>{{appointment.name_appointment}}</td>
            <td>{{appointment.date_appointment | date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Second Half -->

  <div class="containerEmployees col">
    <div *ngIf="seleccionAudit">
      <h3>Empleados añadidos</h3>
      <a class="nav-link float-right" (click)="abrirModalAddEmployee()"> Add employee </a> <br />
      <div *ngIf="seleccionAudit">
        <p>Aqui irá una tabla con los empleados de una auditoria (Checkbox para activar citas, informes, cuestionarios)</p>
      </div>
    </div>
  </div>

  <app-citaCreation *ngIf="auditCitaCreation" [audit]="auditCitaCreation"></app-citaCreation>
  <app-employeeAdd *ngIf="auditEmployeeAdd" [audit]="auditEmployeeAdd"></app-employeeAdd>
  <app-citaMostrar *ngIf="appointmentSelected" [cita]="appointmentSelected"></app-citaMostrar>
