<div class="abrirModal" *ngIf="modalCloseAudit.modal">
  <div class="modal" tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cierre Auditoria</h5>
          <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="answered">
            <form (ngSubmit)="closeAudit()" #registerForm="ngForm">
              <p> Por cada amenaza y vulnerabilidad se presentan las respuestas dadas por las distintas personas que han rellenado los cuestionarios. <b> La puntuación de 1 es de mínimo peligro y 5 es una situación de máximo peligro</b></p>
              <div *ngFor="let pair of threatsVulnerabilities; let i = index">
                <h3>Amenaza: {{pair.name_audit_threat}} </h3>
                <h6>Vulnerabilidad: {{pair.name_audit_vulnerability}}</h6><br />
                <table *ngIf="answers.length > 0" class="table table-bordered table-warning table-striped text-center">
                  <tbody>
                    <tr>
                      <th scope="col">Pregunta</th>
                      <th scope="col">Respuesta</th>
                      <th scope="col">Score</th>
                    </tr>
                    <tr *ngFor="let answer of answers">
                        <td *ngIf="pair.id_audit_threat===answer.id_threat && pair.id_audit_vulnerability===answer.id_vulnerability">{{answer.question_audit_question}}</td>
                        <td *ngIf="pair.id_audit_threat===answer.id_threat && pair.id_audit_vulnerability===answer.id_vulnerability">{{answer.answer_audit_answer}}</td>
                        <td *ngIf="pair.id_audit_threat===answer.id_threat && pair.id_audit_vulnerability===answer.id_vulnerability">{{answer.score}}</td>
                    </tr>
                  </tbody>
                </table>
                <b>Disponibilidad:</b> <input class="form-control" type="number" min="0" max="5" [(ngModel)]="pair.availability_weight_audit_results" name="availability_weight_audit_results" onkeydown="return false" /> <br />
                <b>Confidencialidad:</b> <input class="form-control" type="number" min="0" max="5" [(ngModel)]="pair.confidentiality_weight_audit_results" name="confidentiality_weight_audit_results" onkeydown="return false" /> <br />
                <b>Integridad:</b> <input class="form-control" type="number" min="0" max="5" [(ngModel)]="pair.integrity_weight_audit_results" name="integrity_weight_audit_results" onkeydown="return false" /> <br />
                <b>Legalidad:</b> <input class="form-control" type="number" min="0" max="5" [(ngModel)]="pair.legality_weight_audit_results" name="legality_weight_audit_results" onkeydown="return false" /> <br />
                <b>Probabilidad de Amenaza</b><input class="form-control" type="number" min="1" max="5" [(ngModel)]="pair.audit_threat_probability_audit_results" name="audit_threat_probability_audit_results" onkeydown="return false" /> <br />
                <b>Nivel de Impacto</b><input class="form-control" type="number" min="1" max="5" [(ngModel)]="pair.impact_level_audit_results" name="impact_level_audit_results" onkeydown="return false" /> <br />
                <b>Recomendación</b><textarea name="name" class="form-control" rows="3" [(ngModel)]="pair.recomendation_audit_results" name="recomendation_audit_results" placeholder="Recomendacion"></textarea><br />
              </div>
              <button type="submit" class="btn btn-warning">Terminar Auditoria</button>
            </form>
          </div>
          <div *ngIf="!answered">
            <h2> Debe rellenarse un cuestionario de cada tipo </h2>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
